/*
v1 ready
v2 bugfix need max-width
v3 font-size and font-weight
*/
.EditorFrame.frame{
  min-width:400px;
  max-width:400px; /* v2 */
  position:fixed;
  top:10vh;
  right:1rem;
  box-sizing:border-box;
  border:2px solid whitesmoke;
  border-radius:0.25rem;
}

.EditorFrame .body{
  min-height:50vh;
  height:50vh;
  max-height:50vh;
  overflow-y:scroll;
  background:#f5f5f599;  

  font-weight:bold; /*v3*/  
}

.EditorFrame [contenteditable]{
  padding:0.5rem;
  min-height:100%;
  outline:none;
  padding-bottom:50vh;
}

.EditorFrame .message,
.EditorFrame .title{
  padding:0 0.5rem;
  color:#555;
  background:#efefef;
  /*min-height:1.6rem;*/
  /*v3*/
  font-weight:normal;
  min-height:18px;
  font-size:12px;
}

.EditorFrame .message{
  text-align:right;
  right:0.5rem;
  transition:color 2s ease-in;
}
